<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8"/>
<title>GHaC(GitHub as CMS)</title>
<script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
<meta name="apple-mobile-web-app-title" content="GHaC(GitHub as CMS)"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GHaC(GitHub as CMS)</a>
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav ml-auto">
  </ul>
</nav>

<div class="container" style="margin-top: 50px;">
  <h2>GHaC (GitHub as CMS) の使い方</h2>
  <p>
  参照したい Issues のある GitHub リポジトリを指定して再度アクセスし、GitHub アカウントでログインしてください。
  </p>
  <p>
  例えば参照したい GitHub リポジトリが <b>https://github.com/<font color="blue">dotnsf/mastermind</font></b> であった場合は <b>https://ghac.me/<font color="blue">dotnsf/mastermind</font></b> にアクセスしてください。
  指定したリポジトリ内の GitHub Issues に登録されている Issues と、その Comments をウェブコンテンツとして一画面内に表示します。
  </p>
  <p>
  対象リポジトリが公開リポジトリであれば、その Issues や Comments は（GitHub アカウントでログインすれば）誰でも参照できます。
  一方、対象リポジトリが非公開リポジトリの場合は、ログインしたアカウントの権限によって参照できたり、できなかったりします。 
  </p>
  <p>
  ログイン後、１時間ごとに利用権限が割り当てられます。具体的には１時間で GitHub API 5000 回を実行することができます。
  １つのリポジトリ内に含まれる Issues や Comments の数はリポジトリによって異なるため、１つのリポジトリを参照する際に消費する API 回数はリポジトリによって異なります。
  １時間経過するごとにこの回数はリセットされます。
  リセットまでに残っている API 回数と、次のリセットのタイミングは画面右上のパイチャートの上にマウスを移動させると表示されます。
  </p>
</div>
</body>
</html>