
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <!-- <img src="/ghac_logo.png" width="50"/> -->
    GHaC(GitHub as CMS)<%= GITHUB_REPO ? " - " + GITHUB_REPO : "" %>
  </a>
  <ul class="navbar-nav mr-auto">
  </ul>
  <ul class="navbar-nav ml-auto">
<% if( login ){ %>
    <li class="nav-item">
      <div>
<% if( user ){ %>
        <a class="btn btn-warning" href="#" onClick="myLogout();" title="<%= user.name %>"><img src="<%= user.avatar_url %>" width="30"/></a>
<% }else{ %>
        <a class="btn btn-primary" href="#" onClick="myLogin();" title="ログイン">ログイン</a>
<% } %>
        <a id="canvas_wrap" title="" href="#"><canvas id="mycanvas" width="30" height="30"></canvas></a>
      </div>
    </li>
<% } %>
  </ul>
</nav>
