/* main.css */
html, body{
  text-align: center;
  background-color: #fafafa;
  font-size: 20px;
  color: #333;
}

#cms_main{
  text-align: left;
  font-size: 14;
}

.card-header-open{
  background-color: rgba(255,255,0,0.1) !important;
}
.card-header-closed{
}
